<ul class="navbar-nav ml-0 ml-lg-auto">
  <li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link" routerLink="/"> Home </a>
  </li>
  <li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link" routerLink="/about"> About </a>
  </li>
  <li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link" routerLink="/contact"> Contact </a>
  </li>
  <li class="nav-item mega-dropdown" ngbDropdown>
    <a ngbDropdownToggle class="nav-link waves-effect waves-dark pro-pic" href="javascript:void(0)"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span>Elements</span>
      <i class="ti-angle-down text-white font-12 op-5 ml-2"></i>
    </a>
    <div class="user-dd border-0" ngbDropdownMenu>
      <div class="row">
        <div class="col-lg-5 inside-bg hidden-md-down">
          <div class="bg-img" style="background-image: url(assets/images/innerpage/mega-bg2.jpg)">
            <h3 class="text-white font-light">
              Create anything with our amazing Elements
            </h3>
          </div>
        </div>
        <div class="col-lg-7">
          <h6>Components</h6>
          <ul class="list-style-none">
            <li *ngFor="let ele of elementsMenu">
              <a [routerLink]="ele.link">
                {{ ele.Name }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </li>
</ul>

<div class="act-buttons d-none d-md-flex ml-md-auto ml-lg-0">
  <ul class="navbar-nav align-items-center">
    <li class="nav-item">
      <a class="btn btn-danger-gradiant font-14" *ngIf="!service.loginStatusService" (click)="loginClick()">
        Login
      </a>
      <a class="btn btn-info-gradiant font-14" *ngIf="service.loginStatusService" (click)="newPost()">
        New Post
      </a>
    </li>
    
    <li class="nav-item" *ngIf="service.loginStatusService" ngbDropdown>
      <a ngbDropdownToggle class="nav-link text-muted waves-effect waves-dark pro-pic" href="javascript:void(0)"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="assets/images/users/1.jpg" class="rounded-circle ml-2" alt="Cinque Terre" width="40" height="40"
          (click)="fun()" />
        <i class="ti-angle-down text-white font-12 op-5 ml-2"></i>
      </a>
      <div class="user-dd border-0 dropdown-menu dropdown-menu-right" ngbDropdownMenu>
        <span class="dropdown-item">
          Welcome ,Admin
        </span>
        <a class="dropdown-item" (click)="logoutClick()" href="javascript:void(0)">
          <i class="fa fa-power-off m-r-5 m-l-5"></i> Logout
        </a>
      </div>
    </li>
  </ul>
</div>